/*
Theme Name: Kandavu Theme
Theme URI: https://reactive.pe/proyecto/kandavu
Author: Reactive Media
Author URI: https://reactive.pe/
Description: Theme desarrollado para Kandavu Producciones
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: KandavuProducciones
*/




$c1: #34A8FE;
// import
@import '_variables';
@import '_mixins';



html, body {
	height: 100%;
	// padding-top: 100px;
	font-family: $cabin;
	background-color: #010D25;
	color: #fff;
	font-weight: 400;

	font-size: 14px;
	background: url(images/about-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;



}
h1{@include title(3em)}
h2{@include title(2.5em)}
h3{@include title(2em)}
h4{@include title(1.5em)}
h5{@include title(1em)}
h6{@include title(.7em)}





#social {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50px);
	ul {
		list-style: none;
		padding: 0;
		margin-rigth: 10px;
		li {
			background: #fff;
			color: #34A8FE;
			margin: 2px 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	i {
		font-size: 1.5em;
	}

	a {
		color: #010215;
		padding: 6px 8px;
	}
	


}

#lang {
	position: absolute;
	top: 5px;
	right: 10px; 
	z-index: 99;
}




//link nav
.navbar-light .navbar-nav .nav-link {
	font-family: $cabin;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 13px;
	position: relative;
	margin: 0;
	text-transform: uppercase;

	&:before {
    	content: "";
    	position: absolute;
    	width: 0;
    	height: 2px;
    	// background: #fff;
    	background: linear-gradient(to right, #fff, transparent);
    	bottom: 0;
    	left: 0;
    	transition: all .4s;

    }
    
    &:hover:before {
    	width: 100%;
    	left: 0;
    	// opacity: 0;
    	// background: transparent;
    }
}

//hover link
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;


.dropdown:hover>.dropdown-menu {
  display: block;
}




.navbar {    
  .navbar-nav li a {
    &:hover {
      color: #fff;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:focus {
      color: #fff;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:active {
      color: #fff;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

}


.active {
	position: relative;
	&:before {
    	content: "";
    	position: absolute;
    	width: 100%;
    	height: 2px;
    	background: linear-gradient(to right, #fff, transparent);
    	bottom: -2px;
    	left: 0;
    }
}


.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    // &:before {
    // 	content: "";
    // 	position: absolute;
    // 	width: 100%;
    // 	height: 2px;
    // 	background: linear-gradient(to right, #fff, transparent);
    // 	bottom: -2px;
    // 	left: 0;
    // }
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar {
	height: 150px;
	transition: all .4s;
}

.navbar-brand img {
	max-width: 180px;
}

.collapse.show {
	// background: orange;
	transition: all .4s;
}

#header {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	z-index: 88;
	background: linear-gradient(to top, transparent, #000); 
}

#main_slider {
	width: 100%;
	height: 100%;
	background: orange;
	margin: 0;
	z-index: 1;
	.slider-item {
		width: 100%;
		height: 100%;

		img {
			margin-top:-100px;
			width: 100%;
			min-height: 100%;
		}
	}
	
	
	
}


.slick-dots {
	padding: 15px 0;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, #000);
}

.slick-dots li button::before {
	font-size: 20px;
	color: rgba(#fff,.9);
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}




// main

#main {
	width: 100%;
	height: 100%;
	// background-image: url(images/slider/jbalvin.jpg);
	background-size: cover;
	background-position: center;
	z-index: 8;
	img {
		width: 100%;
	}
}




// about


#about {
	width: 100%;
	float: left;
	height: auto;
	// background: url(images/about-bg.png) no-repeat;
	// background-size: cover;
	// background-position: center;
	
	
	.about-title {
		width: 100%;
		height: 350px;
		overflow: hidden;
		padding-top: 70px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		img {
			margin: 5px 0;
		}
	}
}
#about-info {
	width: 100%;
	heigh: auto;
	margin-bottom: 50px;
	float: left;
	padding-left: 70px;
	// background-color: #153058;
	h4 {
		margin: 20px 0;
		display: inline-block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 50%;
			height: 2px;
			background: linear-gradient(to right, #fff, transparent); 
		}
	}
	p {
		text-align: justify;
	}
}

// delay animate title
.d1 {animation-delay: 2s}
.d2 {animation-delay: 2.5s}
.d3 {animation-delay: 3s}
.d4 {animation-delay: 3.5s}
.d5 {animation-delay: 4s}
.d6 {animation-delay: 4.5s}
.d7 {animation-delay: 5s}



//contacto 

#contacto-info {
	width: 100%;

	margin-top: 300px;
	padding-left: 70px;

	p {
		font-size: 15px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 30px;
	}
	h4 {
		margin: 0;
	}
	.range {
		font-size: 14px;
		margin-bottom: 10px;
		opacity: .8;
		font-style: italic;
		color: #34A8FE;
	}
	h5 {
		font-size: 1em;
	}
	i {
		margin-right: 10px;
		color: #34A8FE;
	}

	.contacto-text{
		min-height: 450px;
	}
}



#conciertos-info {
	width: 100%;
	min-height: 400px;
	padding-top: 300px;
	padding-left: 70px;

	.conciertos-text{
		width: 100%;
		min-height: 400px;
		// margin-top: 100px;
	}
	

}


#footer {
	width: 100%;
	height: 32px;
	margin-top: 20px;
	bottom: 0;
	float: left;
	// bottom: 0px;
	// display: none;
	box-sizing: border-box;
	text-align: center;
	background: linear-gradient(to top, #000, transparent);
	p {
		font-size: 11px;
		text-transform: uppercase
	}
}

#reactive {
	// position: absolute;
	right: 10px;
	bottom: 10px;

}

#artistas-info {
	width: 100%;
	min-height: 400px;
	margin-top: 300px;
	padding-left: 70px;
}



.newsletter {
	width: 100%;
	padding-top: 200px;
	h5 {
		text-align: left;
		margin: 10px 0;
	}
	input[type="email"]{
		width: 200px;
		padding: 5px 5px;
		border-radius: 5px 0 0 5px;
		border: none;
	}
	input[type="button"]{
		padding: 5px 20px;
		border-radius: 0 5px 5px 0;
		border: none;
		background: #34A8FE;
		color: #fff;
		font-weight: bolder;
	}
}



// slider

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}



// post style

#post-info {
	width: 100%;
	min-height: 400px;
	margin-top: 150px;

	.post-thumb {
		width: 100%;
		position: relative;
		&:before {
			content: "";
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    bottom: 0;
		    left: 0;
		    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
		    z-index: 6;
		}
		img {
			width: 100%;
		}
		.post-title {
			width: 100%;
			padding: 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 66;
		}
	}
	.post-title {
		h1 {
			font-size: 2.5em;
			margin: 0;
			line-height: 30px;
			color: #fff;
		}
	}
	.post-date {
		width: 100%;
		display: flex;
		margin: 10px 0;
		p {
			font-size: 10px;
			margin: 0 10px;
		}
		.tag {
			padding: 3px 5px;
			background: $c1;
			font-size: 8px;
			text-transform: uppercase;
			color: #fff;
			margin: 2px 3px;
			border-radius: 3px;

		}
	}

	.post-descripcion {
		width: 100%;
		background: rgba(#000,.2);
		padding: 10px;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
		h1,h2,h3,h4,h5,h6{
			margin:10px 0;
			color: $c1;
			line-height: 30px;
		}

		a {
			color: $c1;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin: 10px 0;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 10px 0;
		}
		blockquote {
			width: 100%;
			height: auto;
			display: block;
			background: rgba(#fff,.1);
			padding: 10px 20px;
			border-left: 2px solid $c1;
			font-size: 1.3em;
			cite {
				font-size: 14px;
				width: 100%;
				
			}
		}
	}
}

.blog-post {
	margin-bottom: 10px;
}

.blog-thumb {
	width: 100%;
	// max-height: 200px;
	position: relative;
	&:before {
			content: "";
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    bottom: 0;
		    left: 0;
		    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
		    z-index: 6;
		}
	img {
		width: 100%;
	}
	.blog-category {
			z-index: 77;
			display: inline-block;
			background: $c1;
			color: #fff;
			margin: 0;
			font-size: 8px;
			border-radius: 3px;
			padding: 3px 5px;
			margin: 10px 10px;
			position: absolute;
			bottom: 0;
	}
}

.blog-title {
		width: 100%;
		background: #000;
		padding: 5px 0 10px 0;
		h4 {
			margin: 0;
			
		}
		a {
			color: #fff;
			&:hover {
				color: $c1;
				text-decoration: none;
			}
		}


	}


// Stlye responsive------------------------------------
// Stlye responsive------------------------------------
// Stlye responsive------------------------------------
// Stlye responsive------------------------------------






// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

	body {
		height: auto;
		background-attachment: fixed;
	}


	// lenguje
	#lang {
		width: 100%;
		// float: left;
		position: fixed;
		top: 0;
		right: 0;
		background: linear-gradient(to left, $c1, #1A4161); 
		padding: 5px 20px;
		p{
			margin: 0;
			padding: 0;
		}
	}
	// navigation style
	.navbar {
		height: auto;
		background: rgba(#000,.4);

	}
	.collapse.show {
		// background: rgba(#000,9);
	}
	#header {
		height: auto;
		top: 30px;

	}



	#artistas-info {
		padding-left: 0;
	}

	#header .container {
		padding: 0;
	}

	.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	    color: #fff;
	    position: relative;
	    &:before {
	    	content: "";
	    	position: absolute;
	    	width: 10px;
	    	height: 10px;
	    	top: 15px;
	    	left: -15px;

	    	border-style: solid;
	    	border-width: 10px 5px 5px 5px;
	    	border-color: #34A8FE transparent transparent transparent;
	    }
	}
	.navbar-light .navbar-nav .nav-link:hover:before {
		width: 0;
	}
	

	

	// about

	.newsletter {
		width: 100%;
		padding-top: 0;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h5 {
			text-align: left;
			margin: 10px 0;
			padding-right: 10px;
		}
		input[type="email"]{
			width: 150px;
			padding: 5px 5px;
			border-radius: 5px 0 0 5px;
			border: none;
		}
		input[type="button"]{
			padding: 5px 10px;
			border-radius: 0 5px 5px 0;
			border: none;
			background: #34A8FE;
			color: #fff;
			font-weight: bolder;
		}
	}

	#about .about-title {
	padding-top: 150px;

	}
	#social {
		top: 60%;
		transform: translateY(0);
	}
	




	#footer {
		float: left;
		background: transparent;
		border-top: 1px solid #fff;
		padding: 10px 0;
	}
	

	// concierto info
	#conciertos-info {
		width: 100%;
		min-height: 400px;
		padding-top: 150px;
		padding-left: 70px;

		.conciertos-text{
			width: 100%;
			min-height: 400px;
			// margin-top: 100px;
		}
		

	}
	

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	body {
		height: auto;
		background-attachment: fixed;
	}

	// lenguje
	#lang {
		width: 100%;
		// float: left;
		position: fixed;
		top: 0;
		right: 0;
		background: $c1;;
		padding: 5px 20px;
		p{
			margin: 0;
			padding: 0;
			text-align: right;
		}
	}
	// navigation style
	.navbar {
		height: auto;
		background: rgba(#000,.4);

	}
	.collapse.show {
		// background: rgba(#000,9);
	}
	#header {
		height: auto;
		top: 30px;
	}

	


	#about-info {
		padding: 0;
	}
	

	#about .about-title img {
   		width: 100%;
	}

	#contacto-info {
		padding-left: 20px;
		margin-top: 180px;
	}

	#conciertos-info {
		padding-left: 0;
	}

	#artistas-info {
		padding-left: 0;
	}
	
	#header .container {
		padding: 0;
	}

	.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	    color: #fff;
	    position: relative;
	    &:before {
	    	content: "";
	    	position: absolute;
	    	width: 10px;
	    	height: 10px;
	    	top: 5px;
	    	left: -15px;

	    	border-style: solid;
	    	border-width: 10px 5px 5px 5px;
	    	border-color: #34A8FE transparent transparent transparent;
	    }
	}
	

	.navbar-light .navbar-nav .nav-link:hover:before {
		width: 0;
	}
	
	

	// about

	.newsletter {
		width: 100%;
		padding-top: 0;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h5 {
			text-align: left;
			margin: 10px 0;
			padding-right: 10px;
		}
		input[type="email"]{
			width: 150px;
			padding: 5px 5px;
			border-radius: 5px 0 0 5px;
			border: none;
		}
		input[type="button"]{
			padding: 5px 10px;
			border-radius: 0 5px 5px 0;
			border: none;
			background: #34A8FE;
			color: #fff;
			font-weight: bolder;
		}
	}

	#social {
		top: 60%;
		transform: translateY(0);
	}
	
	#footer {
		float: left;
		background: transparent;
		border-top: 1px solid #fff;
		padding: 10px 0;
	}

	// concierto info
	#conciertos-info {
		width: 100%;
		min-height: 400px;
		padding-top: 150px;
		padding-left: 0;
		text-align: justify;

		.conciertos-text{
			width: 100%;
			min-height: 400px;
			// margin-top: 100px;
		}
		

	}



} 




// 990 max 
@media (max-width: 991px) {
	body {
		height: auto;
		background-attachment: fixed;
	}

	// lenguje
	#lang {
		width: 100%;
		// float: left;
		position: fixed;
		top: 0;
		right: 0;
		background: linear-gradient(to right, #041532 , $c1); 
		padding: 5px 20px;
		p{
			margin: 0;
			padding: 0;
			text-align: right;
			font-weight: bolder;
		}
	}
	// navigation style
	.navbar {
		height: auto;
		background: rgba(#000,.4);

	}
	.collapse.show {
		// background: rgba(#000,9);
	}
	#header {
		height: auto;
		top: 30px;
		background: #000;
	}

	.navbar-light .navbar-nav .nav-link {
		padding: 5px 0;
	}


	#about-info {
		padding: 0;
	}
	

	#about .about-title img {
   		width: 100%;
	}

	#contacto-info {
		padding-left: 20px;
		margin-top: 180px;
	}

	#conciertos-info {
		padding-left: 0;
	}

	#artistas-info {
		padding-left: 0;
	}
	
	#header .container {
		padding: 0;
	}

	.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	    color: #fff;
	    position: relative;
	    &:before {
	    	content: "";
	    	position: absolute;
	    	width: 10px;
	    	height: 10px;
	    	top: 5px;
	    	left: -15px;

	    	border-style: solid;
	    	border-width: 10px 5px 5px 5px;
	    	border-color: #34A8FE transparent transparent transparent;
	    }
	}
	

	.navbar-light .navbar-nav .nav-link:hover:before {
		width: 0;
	}
	
	

	// about

	.newsletter {
		width: 100%;
		padding-top: 0;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h5 {
			text-align: left;
			margin: 10px 0;
			padding-right: 10px;
		}
		input[type="email"]{
			width: 150px;
			padding: 5px 5px;
			border-radius: 5px 0 0 5px;
			border: none;
		}
		input[type="button"]{
			padding: 5px 10px;
			border-radius: 0 5px 5px 0;
			border: none;
			background: #34A8FE;
			color: #fff;
			font-weight: bolder;
		}
	}

	#social {
		top: 60%;
		transform: translateY(0);
	}
	
	#footer {
		float: left;
		background: transparent;
		border-top: 1px solid $c1;
		padding: 10px 0;
	}

	// concierto info
	#conciertos-info {
		width: 100%;
		min-height: 400px;
		padding-top: 150px;
		padding-left: 0;
		text-align: justify;

		.conciertos-text{
			width: 100%;
			min-height: 400px;
			// margin-top: 100px;
		}
		

	}

	// nuestros artistas

	#artistas-info {
		margin-top: 120px;
		p {
			text-align: justify;
		}
	}

	
	#post-info {
		.post-thumb {
			.post-title {
				h1 {
					font-size: 2em;
				}
			}
		}

	}



} 
