/*
Theme Name: Kandavu Theme
Theme URI: https://reactive.pe/proyecto/kandavu
Author: Reactive Media
Author URI: https://reactive.pe/
Description: Theme desarrollado para Kandavu Producciones
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: KandavuProducciones
*/



$c2:  #636363;
$c1: #34A8FE;
// import
@import '_variables';
@import '_mixins';



html, body {
	height: 100%;
	overflow-x: hidden;
	// padding-top: 100px;
	font-family: $cabin;
	background-color: #010D25;
	color: #fff;
	font-weight: 400;

	
	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 30px;
		background-color: rgba($c1,.0);
	}

	&::-webkit-scrollbar
	{
		width: 10px;
		background-color: transparent;
		border: 1px solid rgba($c1,.2);
		border-radius: 30px;

	}

	&::-webkit-scrollbar-thumb
	{
		// border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: $c1;
	}



}
h1{@include title(3em)}
h2{@include title(2.5em)}
h3{@include title(2em)}
h4{@include title(1.5em)}
h5{@include title(1em)}
h6{@include title(.7em)}


// header

//link nav
.navbar-light .navbar-nav .nav-link {
	font-family: $cabin;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 13px;
	position: relative;
	margin: 0;
	text-transform: uppercase;

	&:before {
    	content: "";
    	position: absolute;
    	width: 0;
    	height: 2px;
    	// background: #fff;
    	background: linear-gradient(to right, #fff, transparent);
    	bottom: 0;
    	left: 0;
    	transition: all .4s;

    }
    
    &:hover:before {
    	width: 100%;
    	left: 0;
    	// opacity: 0;
    	// background: transparent;
    }
}

//hover link
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;


.dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar { 
  .navbar-nav li a {
    &:hover {
      color: #fff;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:focus {
      color: #fff;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:active {
      color: #fff;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

}


.active {
	position: relative;
	// &:before {
 //    	content: "";
 //    	position: absolute;
 //    	width: 100%;
 //    	height: 2px;
 //    	background: linear-gradient(to right, #fff, transparent);
 //    	bottom: 0;
 //    	left: 0;
 //    }
}


.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    // &:before {
    // 	content: "";
    // 	position: absolute;
    // 	width: 100%;
    // 	height: 2px;
    // 	background: linear-gradient(to right, #fff, transparent);
    // 	bottom: -2px;
    // 	left: 0;
    // }
}
.navbar-light .navbar-brand {
    color: #fff;
}


.navbar-brand img {
	max-width: 180px;
}

.collapse.show {
	// background: orange;
	transition: all .4s;
}


#header {
	width: 100%;
	position: fixed;
	padding: 20px 0;
	background: linear-gradient(to bottom, #000, transparent);
	// transition: all 5s;
	z-index: 88;
}





.main {
	width: 100%;
	height: 100%;
	float: left;
	background: url(images/about-bg.png);
	background-size: cover;
	background-attachment: fixed;
}

.slider-main {
	width: 100%;

	img {
		width: 100%;
	}
}



// footer section style

.footer {
	width: 100%;
	// height: 200px;
	display: none;
	padding: 20px 0;
	float: left;
	background: linear-gradient(to bottom, #242424 0%, #171717 100%);
	position: relative;
	border-top: 1px solid $c1;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -30px;
		border-style: solid;
		border-width: 10px 30px 30px 30px;
		border-color: $c1 transparent transparent transparent;
	}

	.f__logo {
		img {
			filter: grayscale(100%);
			opacity: .4;
		}
	}
	
	.f__menu {
		width: 100%;
		list-style: none;
		color: #fff;
		// padding: 0;
		// text-align: center;
		h5 {
			padding: 0;
			margin: 20px 0 10px 0;
		}

		li {
			color: #fff;
			a {
				color: #fff;
			}
		}

	}
}



// main content full style

.main-btl {
	width: 100%;
	// height: 100%;
	background: #fff;
	// padding-top: 200px;

}

#btl-slider {
	width: 100%!important;
	height: 600px;

	background: url(images/btl/01.png);
	background-size: cover;
	background-position:  center;
	background-attachment: fixed;
	position: relative;
	transition: all .4s;
	display: flex;
	justify-content: center;
	align-items: center;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		background: url('images/pattern.png');

	}

	.btl-title {
		z-index: 89;
		font-weight: 700;
		font-size: 4em;
		text-shadow: 1px 2px 2px #000;


	}

	
}

.btl-info {
	width: 100%;
	height: auto;
	padding: 20px 0;
	color: #5b5b5b;
	font-size: 1em;
	text-align: left;
	 p{
	 	color: #5B5B5B!important;
	 	text-align: left;
	 	// padding: 0px 0 10px 0;
	 }

	 .btl-list {
	 	list-style: none;
	 	padding: 0;

	 	i {
	 		font-size: 14px;
	 		color: $c1;
	 		padding-right: 5px;
	 	}
	 }

	 h4 {
		position: relative;
		display: inline-block;
		font-size: 1.6em;
		&:before {
	    	content: "";
	    	position: absolute;
	    	width: 100%;
	    	height: 3px;
	    	background: linear-gradient(to right, $c1, transparent);
	    	bottom: -5px;
	    	left: 0;
	    }
	}
}


.btl-gallery {
	width: 100%;
	
	
	img {
		width: 100%;
	}
	div {
		// padding: 0 15px;
		box-sizing: border-box;
		margin: 0 10px;
		// padding: 0 10px;
		&:last-child {
			margin: 0;
		}
	}
}

.slick-prev:before, .slick-next:before {
	color: $c1;
}
// .slick-prev {
// 	left: 0;
// }
// .slick-next {
// 	right: 0;
// }
.slick-dots {
	// bottom: -55px;
}



.btl-clientes {

	img {
		width: 100%;
		filter: grayscale(100%);
		transition: all .3s;
		padding: 3px 0;

		&:hover {
			filter: none;
			cursor: crosshair;
			transform: scale(1.1);
		}
	}
}





.main-content {
	width: 100%;
	margin-top: 250px;
	overflow: hidden;

}

.about {
	width: 100%;
	// overflow: hidden;
	.about-img {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	h4 {
		position: relative;
		display: inline-block;
		font-size: 1.6em;
		&:before {
	    	content: "";
	    	position: absolute;
	    	width: 100%;
	    	height: 3px;
	    	background: linear-gradient(to right, $c1, transparent);
	    	bottom: -5px;
	    	left: 0;
	    }
	}

	// title contacto
	.name {
		font-size: 1.2em;
		padding: 0;
		margin: 0;

	}
	.range {
		margin-bottom: 15px;
		color: $c1;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 40px;

		i {
			color: $c1;
			margin-right: 5px;
		}
	}

}

.d1 {
	animation-delay: 1s;
}
.d2 {
	animation-delay: 2s;
}	
.d3 {
	animation-delay: 3s;
}


// conciertos page, box, items

.conciertos-box {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
	// overflow-x: none;
	padding: 20px 10px 0 25px;
	box-sizing: border-box;




	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 30px;
		background-color: rgba($c1,.0);
	}

	&::-webkit-scrollbar
	{
		width: 8px;
		background-color: transparent;
		border: 1px solid rgba($c1,.2);
		border-radius: 30px;

	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: $c1;
	}





	.conciertos-item {
		width: 100%;
		background: #F4F4F4;
		display: flex;
		flex-direction: row;
		border-radius: 5px;
		margin-bottom: 30px;
		transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&:hover {
			transform: translateY(-5px);
			cursor: pointer;
		}

		.conciertos-thumb {
			width: 25%;

			// box-shadow: 0 0 0 1px $c1;
			// border: 2px solid $c1;
			position: relative;
			
			// overflow: hidden;
			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				 background: linear-gradient(to bottom, transparent, rgba($c1, 0.5));
			}

			img {
				width: 100%;
				max-width: 200px;
				height: 100px;
				border-radius: 5px 0 0 0;

				
			}
			
		}
		.conciertos-date {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				bottom: -15%;
				left: -15%;
				font-weight: bold;
				// background: orange;
				position: absolute;
				background: $c1;
				color: #fff;
				display: flex;
				flex-direction: column;
				align-items: center;
				// background: #000;
				.date-dia {
					font-size: 1.5em;
				}
				.date-mes {
					font-size: .8em;
					transform: translateY(-10px);
					text-align: center;
				}
				

		}
		.conciertos-descripcion {
			width: 65%;
			padding: 5px 10px;
			color: #333;
			// background: red;
			display: flex;
			flex-wrap: wrap;
			h1 {
				width: 100%;
				margin: 0;
				font-size: 1.2em;
				text-transform: uppercase;
				font-weight: 700;
				// color: #10359e;
				color: #636363;
			}
			p {
				padding: 0;
				margin: 0;
				color: #878787;
				font-size: 14px;
				line-height: 1;
			}
			.conciertos-ubicacion {
				font-size: 12px;
				text-transform: uppercase;
				color: #878787;
				i {
					color: $c1;
				}
			}
		}
	}


}

.modal-content {
	color: #333;

	.modal-header {
		// width: 100%;
		width: 100%;
		color: $c2;
		text-align: center;
		text-transform: uppercase;
		// display: block;
		.modal-title {
			width: 100%;
			text-align: center;
			font-weight: bolder;
			font-size: 1.4em;
			margin: 0;
		}
		.close {
			padding-top: 10px;
		}
	}

	.modal-body {
		color: #848383;
		font-size: 14px;
		padding: 0;
		
		.modal-loading {
			padding: 20px 30px;
			text-align: center;
			i {
				color: $c1;
				font-size: 2em;
			}
		}
		.modal-img {
			width: 100%;
			img {
				width: 100%;
			}
		}

		.modal-detalles {
			width: 100%;
			padding: 10px;
			border-bottom: 1px solid  #CBCBCB;
		}
		.modal-hora {
			width: 48%;
			float: left;
			// margin-bottom: 15px;
			font-weight: bolder;
			padding: 10px;
			border-right: 1px solid #CBCBCB;
			span {
				font-weight: normal;
			}
		}
		.modal-lugar {
			width: 50%;
			float: right;
			// margin-bottom: 15px;
			font-weight: bolder;
			padding: 10px;
			span {
				font-weight: normal;
			}
		}
		.modal-precios {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			font-weight: bolder;
			padding: 10px;
			border-top: 1px solid #CBCBCB;
			p {
				font-weight: normal;
			}
		}
	}

}


// gallery styles

.gallery-box {
	width: 100%;

	.gallery-item {
		width: 100%;
		margin-bottom: 30px;
		cursor: zoom-in;
		img {
			width: 100%;
		}
	}
	.gallery-thumb {
		width: 100%;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba(#000,1), transparent);
			z-index: 80;
			opacity: 1;
			transition: all .3s;
			
		}
		&:hover:before {
			// opacity: 0;
			bottom: -70%;
		}
		img {
			// filter: grayscale(100%);
		}
		
		


		.gallery-title {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2px 5px;
			font-weight: bolder;
			z-index: 90;
			transition: all .3s;
			&:hover {
				align-items: flex-end;
			}
			&:hover h1 {
				// color: $c1;
			}
			h1 {
				font-size: 1em;
				position: relative;
				color: #fff;
				&:after {
					content: "";
					position: absolute;
					bottom: -2px;
					left: 50%;
					width: 0%;
					height: 1px; 
					background: $c1;
					z-index: 98;
					transition: all .3s;

				}
			}
			&:hover h1:after {
				width: 100%;
				left: 0;
			}
		}
	}
	
}



// gallery item

#gallery-thumb {
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
	// overflow-x: none;

	box-sizing: border-box;




	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 30px;
		background-color: rgba($c1,.0);
	}

	&::-webkit-scrollbar
	{
		width: 8px;
		background-color: transparent;
		border: 1px solid rgba($c1,.2);
		border-radius: 30px;

	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: $c1;
	}


	// flex-wrap: space-between;
	a {
		width: 30%;
		min-width: 20%;
		margin: 10px;
		img {
			// min-width: 200px;
			width: 100%;
		}
	}
}




.carousel-item {
	height: 100%;
	// overflow: hidden;
	img {
		width: 100%;
		max-height: 980px;
	}

	h5 {
		font-size: 5em;
		font-weight: 900;
		text-align: right;
		font-family: 'Poppins', sans-serif;
	}
}


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}




.main-web {
  overflow: hidden;
  height: 100%;
  background: #edeae8;
  position: relative;
  &:after {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: url(images/pattern.png);
  	// background: red;
  	z-index: 80;
  	// transform: translateY(-20px);
  }
  &:before {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: linear-gradient(to top, #000, transparent);
  	opacity: .4;
  	// background: red;
  	z-index: 80;
  	// transform: translateY(-20px);
  }
}
 
#main-video {
  position: absolute;
  // background-size: cover;
   // opacity: .4;
  /* Vertical and Horizontal center*/
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
	
}

.main-accesos{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 98;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transform: translateY(-5%);




	.btn-kandavu {
		// min-width: 300px;
		// height: 40px;
		// border: 1px solid #fff;
		color: #fff;
		text-align: center;
		padding: 15px 20px;
		margin: 0 30px;
		font-size: 1.2em;
		text-transform: uppercase;
		// font-family: 'Poppins';	
		font-weight: bolder;
		// background: #1F5791;
		z-index: 99;
		

		img {
			transition: all .3s;
		}
		&:hover {
			// background: rgba(#fff,1);
			z-index: 88;
			color: $c1;
			animation: btnanimate 0.8s infinite;
		  // animation-iteration-count: 1;
		  transform-origin: 50% 50%;
		  // border: 1px solid #fff;
		}
		&:hover img {
			transform: scale(1.1);
		}
		&:hover a {
			text-decoration: none;
		}

	}
	
	a {
		// width: 200px;
		&:hover {
			text-decoration: none;
		}
	}
}


.main-about-hidden {
	display: none;
}

// animationa 

.element-animation{
  animation: btnanimate linear 0.8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes btnanimate{
  0% {
    transform:  translate(0px,0px)  ;
  }
  30% {
    transform:  translate(0px,-25px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(0px,-15px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(0px,-5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}





.video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	font-size: 1.5em;
	list-style: none;
	// margin: 0 0 20px 20px;
	display: flex;
	background: $c1;
	padding: 10px 20px;
	border-radius: 10px 40px;
	li {
		cursor: pointer;
		// background: red;
		margin-right: 20px;
		padding: 0 5px;
	}
}


#lang {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 999;
}


.carousel-indicators {
	li {
		cursor: pointer;
	}
}

// responsive style

@media (max-width: 991px) {


.main-about-hidden{
	display: block;
	padding: 15px;
	text-align: justify;
}

	.carousel-item {
	height: 100%;
	// overflow: hidden;
	img {
		// width: 100%;
		max-height: 100%;
	}

}

.main-accesos {
	align-items: center;
	.btn-kandavu {
		margin: 0;
		img {
			max-width: 120px;
		}
	}
}

#main-video {
	// background: url(images/about-bg.png);

	background-size: cover;
	transform: translateY(-40%) translateX(-20%);
}

.carousel-indicators {
	li {
		cursor: pointer;
	}
}


	.btl-clientes {
		 img {
		 	filter: none;
		 }
	}

	.main {
		background: #051138;
		padding: 20px 0;
		height: auto;
	}

	#header {
		padding: 0;
		transition: none;
		z-index: 999;
		position: relative;


		.container {
			// width: 100%;
			padding: 0;
		}
	}

	.main-content {

		margin-top: 20px;

	}



	.about {

		p {
			text-align: justify;
		}
		img {
		width: 100%;
		}
	}


	.navbar-light .navbar-nav .nav-link {
		font-family: $cabin;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 13px;
		position: relative;
		margin: 0;
		text-transform: uppercase;

		&:before {
	    	content: "";
	    	position: absolute;
	    	width: 0;
	    	height: 2px;
	    	// background: #fff;
	    	// background: linear-gradient(to right, #fff, transparent);
	    	bottom: 0;
	    	left: 0;
	    	transition: all .4s;

	    }
	    
	    &:hover:before {
	    	width: 100%;
	    	left: 0;
	    	// opacity: 0;
	    	// background: transparent;
	    }
	}

	.active {
		// opacity: 0;
		&:before {
	    	display: none;
    }
	}

	.collapse {
		// background: rgba(0,0,0,.8);
		// padding: 10px 0 10px 15px;
		border-radius: 0 0 10px 10px;
		z-index: 999;
	}
	
	.collapse.show {
		// opacity: .4;
		position: relative;
		z-index: 999;
	}

	.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
	}

	.navbar-light .navbar-toggler-icon{
		// background: red;

	}



	.footer {
		
		.f__logo {
			text-align: center;
		}
		.f__menu {
			text-align: center;
			padding: 0;
		}
	}




	// conciertos box 

	.conciertos-box {
		padding: 10px 4px 0px 25px;
		.conciertos-item {
			width: 100%;
			// height: 50px;
			
			.conciertos-thumb {
				width: 50%;
			}

			.conciertos-descripcion {
				h1 {
				font-size: 1em;
				}
				p {
					display: none;

				}
				.conciertos-ubicacion {
					display: none;
				}
			}
			.conciertos-date {
				width: 40px;
				height: 40px;
				font-size: 13px;
			}
		}
	}


	#gallery-thumb {
	// display: block;
	flex: auto;
	width: 100%;
	flex-wrap: wrap;
	// flex-wrap: space-between;
		a {
			min-width: 40%;
			display: block;
			margin-bottom: 10px;
			// padding: 5px;
			img {
				width: 100%;
			}
		}
	}




}




