/*
Theme Name: Kandavu Theme
Theme URI: https://reactive.pe/proyecto/kandavu
Author: Reactive Media
Author URI: https://reactive.pe/
Description: Theme desarrollado para Kandavu Producciones
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: KandavuProducciones
*/
html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Cabin", sans-serif;
  background-color: #010D25;
  color: #fff;
  font-weight: 400;
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: rgba(52, 168, 254, 0);
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border: 1px solid rgba(52, 168, 254, 0.2);
  border-radius: 30px;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #34A8FE;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-size: 3em;
  font-weight: bolder;
  margin: 20px 0;
}

h2 {
  font-family: "Cabin", sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  margin: 20px 0;
}

h3 {
  font-family: "Cabin", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  margin: 20px 0;
}

h4 {
  font-family: "Cabin", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 20px 0;
}

h5 {
  font-family: "Cabin", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  margin: 20px 0;
}

h6 {
  font-family: "Cabin", sans-serif;
  font-size: 0.7em;
  font-weight: bolder;
  margin: 20px 0;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Cabin", sans-serif;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 13px;
  position: relative;
  margin: 0;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #fff, transparent);
  bottom: 0;
  left: 0;
  transition: all .4s;
}

.navbar-light .navbar-nav .nav-link:hover:before {
  width: 100%;
  left: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-light .navbar-nav .nav-link:hover .navbar .navbar-nav li a:hover {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link:hover .navbar .navbar-nav li a:focus {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link:hover .navbar .navbar-nav li a:active {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.active {
  position: relative;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-brand img {
  max-width: 180px;
}

.collapse.show {
  transition: all .4s;
}

#header {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  background: linear-gradient(to bottom, #000, transparent);
  z-index: 88;
}

.main {
  width: 100%;
  height: 100%;
  float: left;
  background: url(images/about-bg.png);
  background-size: cover;
  background-attachment: fixed;
}

.slider-main {
  width: 100%;
}

.slider-main img {
  width: 100%;
}

.footer {
  width: 100%;
  display: none;
  padding: 20px 0;
  float: left;
  background: linear-gradient(to bottom, #242424 0%, #171717 100%);
  position: relative;
  border-top: 1px solid #34A8FE;
}

.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  border-style: solid;
  border-width: 10px 30px 30px 30px;
  border-color: #34A8FE transparent transparent transparent;
}

.footer .f__logo img {
  filter: grayscale(100%);
  opacity: .4;
}

.footer .f__menu {
  width: 100%;
  list-style: none;
  color: #fff;
}

.footer .f__menu h5 {
  padding: 0;
  margin: 20px 0 10px 0;
}

.footer .f__menu li {
  color: #fff;
}

.footer .f__menu li a {
  color: #fff;
}

.main-btl {
  width: 100%;
  background: #fff;
}

#btl-slider {
  width: 100% !important;
  height: 600px;
  background: url(images/btl/01.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btl-slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/pattern.png");
}

#btl-slider .btl-title {
  z-index: 89;
  font-weight: 700;
  font-size: 4em;
  text-shadow: 1px 2px 2px #000;
}

.btl-info {
  width: 100%;
  height: auto;
  padding: 20px 0;
  color: #5b5b5b;
  font-size: 1em;
  text-align: left;
}

.btl-info p {
  color: #5B5B5B !important;
  text-align: left;
}

.btl-info .btl-list {
  list-style: none;
  padding: 0;
}

.btl-info .btl-list i {
  font-size: 14px;
  color: #34A8FE;
  padding-right: 5px;
}

.btl-info h4 {
  position: relative;
  display: inline-block;
  font-size: 1.6em;
}

.btl-info h4:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #34A8FE, transparent);
  bottom: -5px;
  left: 0;
}

.btl-gallery {
  width: 100%;
}

.btl-gallery img {
  width: 100%;
}

.btl-gallery div {
  box-sizing: border-box;
  margin: 0 10px;
}

.btl-gallery div:last-child {
  margin: 0;
}

.slick-prev:before, .slick-next:before {
  color: #34A8FE;
}

.btl-clientes img {
  width: 100%;
  filter: grayscale(100%);
  transition: all .3s;
  padding: 3px 0;
}

.btl-clientes img:hover {
  filter: none;
  cursor: crosshair;
  transform: scale(1.1);
}

.main-content {
  width: 100%;
  margin-top: 250px;
  overflow: hidden;
}

.about {
  width: 100%;
}

.about .about-img {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.about h4 {
  position: relative;
  display: inline-block;
  font-size: 1.6em;
}

.about h4:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #34A8FE, transparent);
  bottom: -5px;
  left: 0;
}

.about .name {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.about .range {
  margin-bottom: 15px;
  color: #34A8FE;
}

.about ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.about ul i {
  color: #34A8FE;
  margin-right: 5px;
}

.d1 {
  animation-delay: 1s;
}

.d2 {
  animation-delay: 2s;
}

.d3 {
  animation-delay: 3s;
}

.conciertos-box {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 10px 0 25px;
  box-sizing: border-box;
}

.conciertos-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: rgba(52, 168, 254, 0);
}

.conciertos-box::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border: 1px solid rgba(52, 168, 254, 0.2);
  border-radius: 30px;
}

.conciertos-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #34A8FE;
}

.conciertos-box .conciertos-item {
  width: 100%;
  background: #F4F4F4;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.conciertos-box .conciertos-item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.conciertos-box .conciertos-item .conciertos-thumb {
  width: 25%;
  position: relative;
}

.conciertos-box .conciertos-item .conciertos-thumb:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(52, 168, 254, 0.5));
}

.conciertos-box .conciertos-item .conciertos-thumb img {
  width: 100%;
  max-width: 200px;
  height: 100px;
  border-radius: 5px 0 0 0;
}

.conciertos-box .conciertos-item .conciertos-date {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: -15%;
  left: -15%;
  font-weight: bold;
  position: absolute;
  background: #34A8FE;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conciertos-box .conciertos-item .conciertos-date .date-dia {
  font-size: 1.5em;
}

.conciertos-box .conciertos-item .conciertos-date .date-mes {
  font-size: .8em;
  transform: translateY(-10px);
  text-align: center;
}

.conciertos-box .conciertos-item .conciertos-descripcion {
  width: 65%;
  padding: 5px 10px;
  color: #333;
  display: flex;
  flex-wrap: wrap;
}

.conciertos-box .conciertos-item .conciertos-descripcion h1 {
  width: 100%;
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #636363;
}

.conciertos-box .conciertos-item .conciertos-descripcion p {
  padding: 0;
  margin: 0;
  color: #878787;
  font-size: 14px;
  line-height: 1;
}

.conciertos-box .conciertos-item .conciertos-descripcion .conciertos-ubicacion {
  font-size: 12px;
  text-transform: uppercase;
  color: #878787;
}

.conciertos-box .conciertos-item .conciertos-descripcion .conciertos-ubicacion i {
  color: #34A8FE;
}

.modal-content {
  color: #333;
}

.modal-content .modal-header {
  width: 100%;
  color: #636363;
  text-align: center;
  text-transform: uppercase;
}

.modal-content .modal-header .modal-title {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.4em;
  margin: 0;
}

.modal-content .modal-header .close {
  padding-top: 10px;
}

.modal-content .modal-body {
  color: #848383;
  font-size: 14px;
  padding: 0;
}

.modal-content .modal-body .modal-loading {
  padding: 20px 30px;
  text-align: center;
}

.modal-content .modal-body .modal-loading i {
  color: #34A8FE;
  font-size: 2em;
}

.modal-content .modal-body .modal-img {
  width: 100%;
}

.modal-content .modal-body .modal-img img {
  width: 100%;
}

.modal-content .modal-body .modal-detalles {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid  #CBCBCB;
}

.modal-content .modal-body .modal-hora {
  width: 48%;
  float: left;
  font-weight: bolder;
  padding: 10px;
  border-right: 1px solid #CBCBCB;
}

.modal-content .modal-body .modal-hora span {
  font-weight: normal;
}

.modal-content .modal-body .modal-lugar {
  width: 50%;
  float: right;
  font-weight: bolder;
  padding: 10px;
}

.modal-content .modal-body .modal-lugar span {
  font-weight: normal;
}

.modal-content .modal-body .modal-precios {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  font-weight: bolder;
  padding: 10px;
  border-top: 1px solid #CBCBCB;
}

.modal-content .modal-body .modal-precios p {
  font-weight: normal;
}

.gallery-box {
  width: 100%;
}

.gallery-box .gallery-item {
  width: 100%;
  margin-bottom: 30px;
  cursor: zoom-in;
}

.gallery-box .gallery-item img {
  width: 100%;
}

.gallery-box .gallery-thumb {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.gallery-box .gallery-thumb:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  z-index: 80;
  opacity: 1;
  transition: all .3s;
}

.gallery-box .gallery-thumb:hover:before {
  bottom: -70%;
}

.gallery-box .gallery-thumb .gallery-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  font-weight: bolder;
  z-index: 90;
  transition: all .3s;
}

.gallery-box .gallery-thumb .gallery-title:hover {
  align-items: flex-end;
}

.gallery-box .gallery-thumb .gallery-title h1 {
  font-size: 1em;
  position: relative;
  color: #fff;
}

.gallery-box .gallery-thumb .gallery-title h1:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #34A8FE;
  z-index: 98;
  transition: all .3s;
}

.gallery-box .gallery-thumb .gallery-title:hover h1:after {
  width: 100%;
  left: 0;
}

#gallery-thumb {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

#gallery-thumb::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: rgba(52, 168, 254, 0);
}

#gallery-thumb::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border: 1px solid rgba(52, 168, 254, 0.2);
  border-radius: 30px;
}

#gallery-thumb::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #34A8FE;
}

#gallery-thumb a {
  width: 30%;
  min-width: 20%;
  margin: 10px;
}

#gallery-thumb a img {
  width: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  max-height: 980px;
}

.carousel-item h5 {
  font-size: 5em;
  font-weight: 900;
  text-align: right;
  font-family: 'Poppins', sans-serif;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.main-web {
  overflow: hidden;
  height: 100%;
  background: #edeae8;
  position: relative;
}

.main-web:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(images/pattern.png);
  z-index: 80;
}

.main-web:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  opacity: .4;
  z-index: 80;
}

#main-video {
  position: absolute;
  /* Vertical and Horizontal center*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-accesos {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 98;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateY(-5%);
}

.main-accesos .btn-kandavu {
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  margin: 0 30px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 99;
}

.main-accesos .btn-kandavu img {
  transition: all .3s;
}

.main-accesos .btn-kandavu:hover {
  z-index: 88;
  color: #34A8FE;
  animation: btnanimate 0.8s infinite;
  transform-origin: 50% 50%;
}

.main-accesos .btn-kandavu:hover img {
  transform: scale(1.1);
}

.main-accesos .btn-kandavu:hover a {
  text-decoration: none;
}

.main-accesos a:hover {
  text-decoration: none;
}

.main-about-hidden {
  display: none;
}

.element-animation {
  animation: btnanimate linear 0.8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes btnanimate {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  font-size: 1.5em;
  list-style: none;
  display: flex;
  background: #34A8FE;
  padding: 10px 20px;
  border-radius: 10px 40px;
}

.video-controls li {
  cursor: pointer;
  margin-right: 20px;
  padding: 0 5px;
}

#lang {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.carousel-indicators li {
  cursor: pointer;
}

@media (max-width: 991px) {
  .main-about-hidden {
    display: block;
    padding: 15px;
    text-align: justify;
  }
  .carousel-item {
    height: 100%;
  }
  .carousel-item img {
    max-height: 100%;
  }
  .main-accesos {
    align-items: center;
  }
  .main-accesos .btn-kandavu {
    margin: 0;
  }
  .main-accesos .btn-kandavu img {
    max-width: 120px;
  }
  #main-video {
    background-size: cover;
    transform: translateY(-40%) translateX(-20%);
  }
  .carousel-indicators li {
    cursor: pointer;
  }
  .btl-clientes img {
    filter: none;
  }
  .main {
    background: #051138;
    padding: 20px 0;
    height: auto;
  }
  #header {
    padding: 0;
    transition: none;
    z-index: 999;
    position: relative;
  }
  #header .container {
    padding: 0;
  }
  .main-content {
    margin-top: 20px;
  }
  .about p {
    text-align: justify;
  }
  .about img {
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link {
    font-family: "Cabin", sans-serif;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 13px;
    position: relative;
    margin: 0;
    text-transform: uppercase;
  }
  .navbar-light .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .4s;
  }
  .navbar-light .navbar-nav .nav-link:hover:before {
    width: 100%;
    left: 0;
  }
  .active:before {
    display: none;
  }
  .collapse {
    border-radius: 0 0 10px 10px;
    z-index: 999;
  }
  .collapse.show {
    position: relative;
    z-index: 999;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
  }
  .footer .f__logo {
    text-align: center;
  }
  .footer .f__menu {
    text-align: center;
    padding: 0;
  }
  .conciertos-box {
    padding: 10px 4px 0px 25px;
  }
  .conciertos-box .conciertos-item {
    width: 100%;
  }
  .conciertos-box .conciertos-item .conciertos-thumb {
    width: 50%;
  }
  .conciertos-box .conciertos-item .conciertos-descripcion h1 {
    font-size: 1em;
  }
  .conciertos-box .conciertos-item .conciertos-descripcion p {
    display: none;
  }
  .conciertos-box .conciertos-item .conciertos-descripcion .conciertos-ubicacion {
    display: none;
  }
  .conciertos-box .conciertos-item .conciertos-date {
    width: 40px;
    height: 40px;
    font-size: 13px;
  }
  #gallery-thumb {
    flex: auto;
    width: 100%;
    flex-wrap: wrap;
  }
  #gallery-thumb a {
    min-width: 40%;
    display: block;
    margin-bottom: 10px;
  }
  #gallery-thumb a img {
    width: 100%;
  }
}
